<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="framework">Framework</label>
    <select class="form-control" formControlName="framework" id="framework">
      <option value="An,Angular">Angular</option>
      <option value="Exp,Express">Express</option>
      <option value=".NET,Net core">.NET(core)</option>
      <option value="Net,Net Framework">Net Framework</option>
    </select>
  </div>
  <div class="form-group">
    <label for="hosting">Hosting</label>
    <select class="form-control" formControlName="hosting" id="hosting">
      <option value="cloud">Cloud</option>
      <option value="onpremise">On Premise</option>
    </select>
  </div>
  <div class="form-group">
    <label for="version">Version</label>
    <input type="text" class="form-control" formControlName="version" id="version" placeholder="Version">
  </div>
  <div class="form-group">
    <label for="repository">Repository</label>
    <input type="text" class="form-control" formControlName="repository" id="repository" placeholder="Repository">
  </div>

  <div formGroupName="continuousDeployment">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" type="checkbox" role="switch" formControlName="automatedDeliveryProcess" id="automatedDeliveryProcess">
      <label class="form-check-label" for="automatedDeliveryProcess">Automated delivery process</label>
    </div>
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" type="checkbox" role="switch" formControlName="frequentDeliveries" id="frequentDeliveries">
      <label class="form-check-label" for="frequentDeliveries">Frequent deliveries</label>
    </div>
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" type="checkbox" role="switch" formControlName="automatedTesting" id="automatedTesting">
      <label class="form-check-label" for="automatedTesting">Automated testing</label>
    </div>
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" type="checkbox" role="switch" formControlName="versionControl" id="versionControl">
      <label class="form-check-label" for="versionControl">Version control</label>
    </div>
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" type="checkbox" role="switch" formControlName="monitoring" id="monitoring">
      <label class="form-check-label" for="monitoring">Monitoring</label>
    </div>
  </div>

  <div class="form-group">
    <label for="lastDeploy">Last deploy</label>
    <input type="date" class="form-control" formControlName="lastDeploy" id="lastDeploy">
  </div>
  <div class="form-check form-switch">
    <input type="checkbox" class="form-check-input" type="checkbox" role="switch" formControlName="unitTesting" id="unitTesting">
    <label class="form-check-label" for="unitTesting">Unit testing</label>
  </div>
  <div class="form-group">
    <label for="wiki">Wiki</label>
    <textarea class="form-control" formControlName="wiki" id="wiki" rows="3"></textarea>
  </div>
</form>
